<h1 class="text-left mt-4 mx-5">Категория: <%= @category.name %></h1>

<% if logged_in? && current_user.admin? %>
  <div class="text-left mt-4 mx-5">
    <%= link_to "Edit category name", edit_category_path(@category), class: "btn btn-outline-info" %>
  </div>
<% end %>

<h3 class="text-left mt-4 mx-5">Статьи</h3>

 <div class="flickr_pagination">                        
   <%= will_paginate @lists, :container => false %>   
 </div>  

  <%= render 'lists/list' %>

 <div class="flickr_pagination mb-4">               
   <%= will_paginate @lists, :container => false %>
 </div> 

